<a href="https://colab.research.google.com/github/SuyashPatil-max/UIDAI_repo/blob/main/adhar_card_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.preprocessing import OneHotEncoder , StandardScaler , PowerTransformer

In [ ]:
bometric = ['/content/drive/MyDrive/ML /adhar_card/biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_0_500000.csv',
            '/content/drive/MyDrive/ML /adhar_card/biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_500000_1000000.csv',
            '/content/drive/MyDrive/ML /adhar_card/biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_1000000_1500000.csv',
            '/content/drive/MyDrive/ML /adhar_card/biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_1500000_1861108.csv',
]


demo = ['/content/drive/MyDrive/ML /adhar_card/demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_0_500000.csv',
        '/content/drive/MyDrive/ML /adhar_card/demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_500000_1000000.csv',
        '/content/drive/MyDrive/ML /adhar_card/demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_1000000_1500000.csv',
        '/content/drive/MyDrive/ML /adhar_card/demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_1500000_2000000.csv',
        '/content/drive/MyDrive/ML /adhar_card/demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_2000000_2071700.csv']

enroll = ['/content/drive/MyDrive/ML /adhar_card/enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv',
          '/content/drive/MyDrive/ML /adhar_card/enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv',
          '/content/drive/MyDrive/ML /adhar_card/enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv' ]

In [ ]:
df_bio = pd.DataFrame()
for link in bometric :
  X = pd.read_csv(link)
  df_bio = pd.concat([df_bio,X],axis = 0)
print("biometric : ",df_bio.shape)

df_demo = pd.DataFrame()
for link in demo :
  X = pd.read_csv(link)
  df_demo = pd.concat([df_demo,X],axis = 0)
print("demo : ",df_demo.shape)

df_enroll = pd.DataFrame()
for link in enroll :
  X = pd.read_csv(link)
  df_enroll= pd.concat([df_enroll,X],axis = 0)
print("enroll : ",df_enroll.shape)

biometric :  (1861108, 6)
demo :  (2071700, 6)
enroll :  (1006029, 7)

In [ ]:
df_demo.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [ ]:
df_bio.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [ ]:
df_enroll.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [ ]:
df_demo.to_csv('demo.csv',index= False)
df_bio.to_csv('bio.csv',index= False)
df_enroll.to_csv('enroll.csv',index= False)

import zipfile

csv_file = "demo.csv"
zip_file = "deom_zip.zip"
with zipfile.ZipFile(zip_file, 'w', zipfile.ZIP_DEFLATED) as z:
    z.write(csv_file)

In [ ]:
csv_file = "enroll.csv"
zip_file = "enroll_zip.zip"
with zipfile.ZipFile(zip_file, 'w', zipfile.ZIP_DEFLATED) as z:
    z.write(csv_file)\

csv_file = "bio.csv"
zip_file = "bio_zip.zip"
with zipfile.ZipFile(zip_file, 'w', zipfile.ZIP_DEFLATED) as z:
    z.write(csv_file)

In [ ]:
for df in [df_demo ,df_bio ,df_enroll] :
  df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y', dayfirst=True)
  df['year'] = df['date'].dt.year
  df['month'] = df['date'].dt.month
  df['day'] = df['date'].dt.day